.game-display{
    display: flex;
    border: var(--light-grey) solid 3px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

#reverse{
    flex-direction: row-reverse;
}

@media (max-width: 700px){
    .game-display{
        flex-direction: column;
        margin: var(--padding-med);
        padding: var(--padding-med);
    }
    #reverse{
        flex-direction: column;
    }
}
@media (max-width: 450px){
    .game-display{
        margin: var(--padding-small);
        padding: var(--padding-small);
    }
}

.game-image{
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: start;

}

.game-image img{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: start;
}

.links{
    display: flex;
    flex-direction: column;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 1rem;
}

@media (max-width: 700px) {
    .info-section{
        margin: var(--padding-med);
    }
}
@media (max-width: 450px) {
    .info-section{
        margin: var(--padding-small);
    }
}
