#hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
}

#text-scroll{
    animation: fadeInOut 2500ms ease infinite;
}

#hero-subheading{
    font-size: 1.5rem;
}

.hero-section{
    border: var(--light-grey) solid 3px;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

.card p,
.card h2{
    margin: 0%;
    color: black;
}

@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}