#hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
}

#text-scroll{
    animation: fadeInOut 2500ms ease infinite;
}

#hero-subheading{
    font-size: 1.5rem;
}

.hero-section{
    border: var(--light-grey) solid 3px;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

.h-card{
    display: flex;
    margin-block: 3rem;
}
.u-photo{
    border-radius: 1rem;
    margin-right: 2rem;
}

.display{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}
.display-item{
    display: flex;
    align-items: center;
    height: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 1rem;
}
.display-item img{
    mask-image: linear-gradient(
        90deg,
        transparent,
        black 35%
    );
    mask-size: 300%;
    mask-position: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 1rem;
    transition: mask-position 1000ms ease;
}
.display-item img:hover{
    mask-position: 0%;
}

.display-name{
    position: absolute;
    margin: 1rem;
    font-size: 3rem;
}


@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}