.mouseTrail{
    pointer-events: none;
    height: 34px;
    width: 34px;
    border-radius: 34px;
    background-color: white;
    mix-blend-mode: difference; /* blends background colour with the elements it overlays*/
    position: absolute;
    top: 0;
    left: 0;
    background-blend-mode: none;
}

