:root{
    --gradient: linear-gradient(
        to right,
        rgb(111, 7, 197),
        rgb(187, 40, 232),
        rgb(244, 12, 147),
        rgb(111, 7, 197)
    )
}

body {
    font-family: 'Satoshi', sans-serif;
    margin: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: white;
}

header{
    display: flex;
    justify-content: flex-end;
    height: 25px;    
    padding: 1rem;
    font-size: 1em;
}

main{
    padding-top: 0%;
    padding-bottom: 0%;
}

footer{
    padding: 1em;
    font-style: italic;
}

hr{
    margin: 0%;
}

#webName{
    margin-right: auto;
    width: fit-content;
}

header nav ul{
    margin-top: 0%;
    list-style: none;   /* removes the points on the list*/
}

header nav ul li{
    display: inline-flex;   /*the size of the content inside the li*/
    margin-right: 1rem;
    position: relative;
}
header nav ul li::after{
    background: linear-gradient(
    90deg,
    transparent,
    black,
    transparent
    );
    width: 50%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0%;
    opacity: 0;
    content: "";
    transition: opacity 600ms ease,
    width 600ms ease;
}
header nav ul li:hover::after{
    opacity: 1;
    width: 100%;
}


#activePage{
    position: relative;
}
#activePage::after{
    background: linear-gradient(
    90deg,
    transparent,
    black,
    transparent
    );
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0%;
    content: "";
    opacity: 1;
    
}

.headerContainer{
    display: inline-block;
    padding-left: 1rem;
}

h1{
    color: black;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 4rem;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 1.5s,
    cursor 0.4s step-end infinite alternate;
}
h1 .myName{
    animation: background-pan 20s linear infinite;
    /* background: linear-gradient(
        to right,
        #6f07c5,
        #bb28e8,
        #f40c93,
        #6f07c5
    ); */
    background: linear-gradient(
        to right,
        rgb(26, 26, 237),
        rgb(113, 188, 254),
        rgb(24, 146, 247),
        rgb(26, 26, 237)
    );
    background-size: 300%;
    background-clip: text;
    color: transparent;
}

header nav ul li a{
    height: 100%;
    text-decoration: none;
}
header nav ul li a:visited{
    color: black;
    height: 100%;
    text-overflow: clip;
    text-decoration: none;
}

::selection{
    background-color: black;
    color: white;
    text-decoration: white;
}


@keyframes cursor {
    50%{
        border-color: transparent;
    }
}

@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes background-pan {
    50%{
        background-position: -300%;
    }
}