:root{
    --light-grey: rgb(243, 243, 243);
    --border-width: 3px;
    --blue-gradient: linear-gradient(
        to right,
        rgb(26, 26, 237),
        rgb(113, 188, 254),
        rgb(24, 146, 247),
        rgb(26, 26, 237)
    );
    --black-gradient: linear-gradient(
            90deg,
            transparent,
            black 7.5%,
            transparent
    )
}

html{
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;
    background-color: white;
}

body {
    margin: 0%;
    padding: 0%;
}

header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2rem;
    border-bottom: var(--light-grey) solid var(--border-width);
}

footer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-style: italic;
    border-top: var(--light-grey) solid var(--border-width);
}
.footer-socials{
    width: 25%;
}

main{
    padding: 0% 1.5rem; 
}

#webName{
    width: fit-content;
}

header nav{
    align-items: center;
    justify-content: space-around;
}
header nav ul{
    list-style: none;   /* removes the points on the list*/
    padding-left: 0%;
}
header nav ul li{
    display: inline-flex;
    margin-inline: 1rem;
    position: relative;
}
header nav ul li::after{
    background-color: black;
    width: 100%;
    height: var(--border-width);
    position: absolute;
    bottom: -1px;
    opacity: 0;
    content: "";
    transition: opacity 1000ms ease;
}
header nav ul li:hover::after{
    opacity: 1;
}
header nav ul li a{
    height: 100%;
    text-decoration: none;
}
header nav ul li a:visited{
    color: black;
    height: 100%;
    text-overflow: clip;
    text-decoration: none;
}
#activePage{
    position: relative;
}
#activePage::after{
    background-color: black;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -1px;
    content: "";
    opacity: 1;
}

.titles{
    margin: 75px 0%;
}
.headerContainer{
    display: inline-block;
    padding-left: 2rem;
}
.subheaderContainer{
    width: fit-content;
    padding-left: 2rem;
}
.subheaderContainer p{
    color: black;
    margin-top: 5px;
    font-size: 1.5rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:  typing 1.5s;
}

h1{
    color: black;
    margin: 0px;
    font-size: 5rem;
    /* border-right: 5px solid; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    /* animation:  typing 1.5s,
                cursor 0.4s step-end infinite alternate; */
}
.coolFont{
    animation: background-pan 20s linear infinite forwards;
    background: linear-gradient(
        to right,
        rgb(26, 26, 237),
        rgb(113, 188, 254),
        rgb(24, 146, 247),
        rgb(26, 26, 237)
    ) 300% text;
    background-size: 300%;
    background-clip: text;
    color: transparent;
}

::selection{
    background-color: black;
    color: white;
    text-decoration: white;
}

.contact-button{
    border: 0;
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    color: white;
    background: var(--blue-gradient);
    background-size: 300%;
    border-radius: 1rem;
    animation: background-pan 20s linear infinite forwards;
}

.card{
    border-radius: 0.5rem;
    border-color: rgb(243, 243, 243);
    border-style: solid;
    border-width: 3px;
    margin: 1rem;
    padding: 1rem;
    position: relative;
}
.card::after{
    border-radius: 25%;
    background: linear-gradient(
    90deg,
    transparent,
    black 7.5%,
    transparent
    );
    width: 25%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0%;
    opacity: 0;
    content: "";
    transition: opacity 1000ms ease,
                width 2000ms ease;

}
.card:hover::after{
    opacity: 1;
    width: 100%;
}

.card:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

.icons{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 700px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: rgb(243, 243, 243, 0.3);
        backdrop-filter: blur(15px);
        /* overflow: hidden; */
        transition: 1000ms ease;
    }
    
    #check:checked ~ #navbar{
        height: 0px;
    }
    .icons{
        display: inline-block;
    }

    .contact-button{
        position: absolute;
        right: 80px;
    }

    #close-icon{
        display: none;
    }

    #check:checked ~ .icons #menu-icon{
        display: none;
    }    
    
    #check:checked ~ .icons #close-icon{
        display: block;
    }

}

@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes background-pan {
    50%{
        background-position: -300%;
    }
}