.cardContainer{
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 0.5rem;
}

.cards{
    width: 100%;
    min-width: 100%;
    user-select: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-shrink: 0;

    animation: scroll 40s linear infinite;
}
.cards:hover{
    animation-play-state: paused;
}

.wireframeCard{
    border: rgb(243, 243, 243) solid 3px;
    background-color: rgb(243, 243, 243);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: fit-content;
    flex: 0 0 20%;
}

.wireframeImage{
    width: 200px;
    border: rgb(243, 243, 243) solid 3px;
    border-radius: 0.5rem;
}

@keyframes scroll{
    to{
        transform: translateX(calc(-100% - 0.5rem));
    }
}