div.h-card{
    padding-left: 2rem;
    position: relative;
    display: flex;
    justify-content: start;
    margin-bottom: 3rem;
}

div.h-card p{
    margin-top: 0px;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.u-photo{
    display: flex;
}

